<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Análisis de Mosquitos en Guatemala</title>

</head>
<body>

{% extends "bootstrap/base.html" %}
{% block title %}Análisis de Mosquitos en Guatemala{% endblock %}
    
{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Análisis de Mosquitos en Guatemala</h1>
    <div class="text-center mb-3">
        <img src="images/logo_uvg.png" alt="Logo de Universidad del Valle de Guatemala" class="img-fluid" />
        <h2>Universidad del Valle de Guatemala</h2>
    </div>

    <h3>Integrantes del equipo:</h3>
    <ul>
        <li>Carol Arévalo</li>
        <li>Stefano Aragoni</li>
        <li>Luis Santos</li>
        <li>Diego Perdomo</li>
    </ul>

    <h3>Descripción:</h3>
    <p>El Ministerio de Salud y Asistencia Social (MSPAS) ha informado que Guatemala ha experimentado un aumento significativo en el número de casos de dengue en 2023, con más de 10,000 casos confirmados y 21 muertes hasta el 12 de agosto. El MSPAS ha declarado una alerta epidemiológica en todo el país para combatir la propagación del dengue (Gobierno De Guatemala, 2023).</p>
    <p>Con esto en mente, el presente proyecto busca utilizar técnicas de procesamiento de imágenes y aprendizaje automático para identificar la especie de mosquito Aedes aegypti a partir de imágenes, con el fin de apoyar los esfuerzos de prevención del dengue en Guatemala.</p>

    <div class="jumbotron">
        <form>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Analizar</button>
        </form>
    </div>
</div>
{% endblock %}

</body>
</html>
