<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Análisis de Mosquitos en Guatemala</title>
</head>
<body>
{% extends "bootstrap/base.html" %}
{% block title %}Análisis de Mosquitos en Guatemala{% endblock %}
    
{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Análisis de Mosquitos en Guatemala</h1>
    <div class="text-center mb-3">
        <img src="static/images/logo_uvg.png" alt="Logo de Universidad del Valle de Guatemala" class="img-fluid" width="200px"/>
        <h2>Universidad del Valle de Guatemala</h2>
    </div>

    <h3>Integrantes del equipo:</h3>
    <ul>
        <li>Carol Arévalo</li>
        <li>Stefano Aragoni</li>
        <li>Luis Santos</li>
        <li>Diego Perdomo</li>
    </ul>

    <h3>Descripción:</h3>
    <p>El Ministerio de Salud y Asistencia Social (MSPAS) ha informado que Guatemala ha experimentado un aumento significativo en el número de casos de dengue en 2023, con más de 10,000 casos confirmados y 21 muertes hasta el 12 de agosto. El MSPAS ha declarado una alerta epidemiológica en todo el país para combatir la propagación del dengue (Gobierno De Guatemala, 2023).</p>
    <p>Con esto en mente, el presente proyecto busca utilizar técnicas de procesamiento de imágenes y aprendizaje automático para identificar la especie de mosquito Aedes aegypti a partir de imágenes, con el fin de apoyar los esfuerzos de prevención del dengue en Guatemala.</p>

    <form method="POST" action="/" enctype="multipart/form-data">
        <select name="model_selector" id="model_selector" class="form-control mb-3 model-dropdown">
            <option value="best_model.h5" {% if selected_model == 'best_model.h5' %}selected{% endif %}>Modelo 1</option>
            <option value="best_model2.h5" {% if selected_model == 'best_model2.h5' %}selected{% endif %}>Modelo 2</option>
            <option value="best_model3.h5" {% if selected_model == 'best_model3.h5' %}selected{% endif %}>Modelo 3</option>
        </select>
    
        <div class="jumbotron">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Analizar</button>
        </div>
    </form>
    
</div>

{% if uploaded_image %}
<div class="card mt-4 shadow-lg">
    <div class="jumbotron-custom">
        <h4>Resultados del Análisis</h4>
        <img src="{{ url_for('static', filename='uploads/' + uploaded_image.split('/')[-1]) }}" alt="Imagen de Mosquito" class="img-fluid" />
        <h4 class="mt-4">Clase:</h4>
        <p>{{ prediction }}</p>
        <h4>Confianza:</h4>
        <p>{{ confidence }}%</p>
    </div>
</div>
{% endif %}

</div>
{% endblock %}


</body>
</html>